<p>
        <div class="login-page">
                <div class="form">
                  <form>
                    <input type="text" placeholder="Email" [(ngModel)]="email" name="email"/>
                    <input type="password" placeholder="Password" [(ngModel)]="password" name="password"/>
                    <button (click)="loginClicked()">login</button>
                    <p class="message">Not registered? <a href="/">Too Bad</a></p>
                  </form>
                </div>
              </div>

